<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <log4net>
    <appender name="DefaultFileLogger" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Networking.log"/>
      <appendToFile value="true"/>
      <staticLogFileName value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="5MB"/>
      <datePattern value=".yyyy-MM-dd'.log'"/>
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date,%-5thread,%-5level,%message"/>
      </layout>
    </appender>
    <appender name="ProdDefaultFileLogger" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Networking.log"/>
      <appendToFile value="true"/>
      <staticLogFileName value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="50"/>
      <datePattern value=".yyyy-MM-dd'.log'"/>
      <preserveLogFileNameExtension value="true"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMAX value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date,%-5thread,%-5level,%message"/>
      </layout>
    </appender>
    <appender name="StatusFileLogger" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Networking.log"/>
      <appendToFile value="true"/>
      <staticLogFileName value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="25MB"/>
      <maxSizeRollBackups value="50"/>
      <datePattern value=".yyyy-MM-dd'.log'"/>
      <preserveLogFileNameExtension value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date,%-5thread,%-5level,%message"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DefaultFileLogger"/>
      <appender-ref ref="ProdDefaultFileLogger"/>
    </root>
  </log4net>
</configuration>